/* animaciones.css */

.bg-pan-right {
    animation: bg-pan-right 20s linear  infinite;
    background-image: linear-gradient(
      90deg,
      #73e82d 0%,
      #7134e5 25%,
      #e632b5 50%,
      #7134e5 75%,
      #73e82d 100%
    );
    background-size: 300% 100%;
    background-repeat: repeat;
}

/* Keyframes */
@-webkit-keyframes bg-pan-right {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes bg-pan-right {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
