@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
}

/*--------AQUÍ EMPIEZA SECTION NAVBAR------*/
.navbar {
  margin-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  background-color: transparent;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  .collapse {
    justify-content: flex-end;
    font-size: 18px;
  }

  .navbar-nav {
    gap: 60px;
  }
}

.navbar.scrolled {
  background-color: #615b4f;
  color: #fff;
}

/*---------AQUÍ EMPIEZA SECTION PORTADA----------*/
.card {
  height: 100vh !important;
  border: none !important;

  .card-img {
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .card-img-overlay {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0;

    .card-title {
      background-color: #14375b;
      padding: 14px;
      margin-bottom: 100px;
      font-size: 18px;
      font-weight: bold;
      font-family: "Public Sans", sans-serif;
    }

    .texto {
      margin-bottom: 60px;
      padding: 70px 100px 40px 40px;
      background-color: rgba(20, 55, 91, 0.7);
    }

    .card-text {
      font-family: "Domine", serif;
      font-size: 80px;
      margin: 0;
    }

    .card-under {
      font-family: "Domine", serif;
      font-size: 30px;
    }
  }
}

/*-----------AQUÍ EMPIEZA SECTION NOSOTROS------------------*/
section.nosotros {
  padding: 80px;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color: #615b4f;
    color: #ffff;
    width: 40%;

    p {
      font-family: "Domine", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.8em;
    }

    li {
      font-family: "Public Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1em;
    }
  }
}

/*---------AQUÍ EMPIEZA SECTION PROCESO----------*/
.parent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 30px 0 30px;
  align-items: center;
  padding: 40px 0 40px 0;
  font-family: "Domine", serif;
  color: #fff;

  .fa-angles-right {
    display: inline;
  }
  .fa-angles-down {
    display: none;
  }

  .div1 {
    justify-items: center;

    .title {
      font-size: 30px;
      color: black;
    }
  }

  .div2 {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 60px 30px 40px 40px;
    width: 90%;

    .proceso {
      text-align: center;
      width: max-content;
      font-size: 17px;
      margin: 0;
    }
  }
}

/*---------AQUÍ EMPIEZA SECTION GALERIA----------*/
section.galeria {
  background-color: white;
  padding: 80px;

  .title {
    font-family: "Domine", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 40px;
  }

  .content {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
  }

  .carousel {
    max-width: 700px;
    margin: auto;
    position: relative;
  }

  #carouselHorizontal .custom-img {
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    /* aseguramos el mismo ancho */
  }

  #carouselVertical .custom-img {
    height: 500px;
    width: auto;
    object-fit: contain;
    margin: auto;
    display: block;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: background-color 0.3s;
    z-index: 2;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .carousel-control-prev i,
  .carousel-control-next i {
    color: white;
    font-size: 1.3rem;
  }

  .carousel-control-prev {
    left: 1rem;
  }

  .carousel-control-next {
    right: 1rem;
  }
}

/*-----------AQUÍ EMPIEZA VIDEOS------------------*/
section.videos {
  padding: 60px;

  .title {
    font-family: "Domine", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 40px;
  }

  .video-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
  }

  .video-preview {
    cursor: pointer;
  }

  .video-thumbnail {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }

  .modal-dialog {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .modal-content {
    background-color: transparent;
  }
}

/*-----------AQUÍ EMPIEZA FOOTER------------------*/
footer {
  padding: 60px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  color: #ffff;
  text-align: center;
  background-color: #615b4f;
  border-top: 1px solid #e7e7e7;

  .title {
    font-family: "Domine", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    padding: 0px !important;
  }

  .content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 100px;
  }

  .centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    .content {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      gap: 0px;

      p {
        margin: 0px !important;
      }

      a {
        text-decoration: none;
        color: #ffff;
      }
    }

    .icon {
      font-size: 2rem;
    }
  }
}

/*-----Resposive----------------*/
@media (max-width: 640px) {
  /*-----Nav----------------*/
  .navbar {
    .navbar-nav {
      gap: 5px;
      padding-left: 10px;
    }
  }

  /*-----Portada----------------*/
  .card {
    .card-img-overlay {
      padding: 0 30px 0 30px;

      .card-title {
        margin-bottom: 80px;
        font-size: 14px;
      }

      .texto {
        margin-bottom: 60px;
        padding: 30px;
      }

      .card-text {
        font-size: 45px;
      }

      .card-under {
        font-size: 20px;
      }
    }
  }

  /*-----Nosotros----------------*/
  section.nosotros {
    padding: 20px;
    .content {
      color: #ffff;
      padding: 30px;
      width: 100%;

      p {
        font-size: 1.6em;
        margin-bottom: 0;
      }

      li {
        font-size: 1em;
      }
    }
  }

  /*-----Galería----------------*/
  section.galeria {
    padding: 30px;

    .title {
      font-size: 26px;
    }

    .content {
      flex-direction: column;
      gap: 20px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 30px;
      height: 30px;
    }

    .carousel-control-prev i,
    .carousel-control-next i {
      color: white;
      font-size: 1rem;
    }
  }

  /*---------Videos----------*/
  section.videos {
    padding: 40px;
    .title {
      font-size: 26px;
    }
    .video-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  /*---------Proceso----------*/
  .parent {
    .fa-angles-right {
      display: none;
    }
    .fa-angles-down {
      display: inline;
    }
    .div1 {
      justify-items: center;
      .title {
        font-size: 26px;
        color: black;
      }
    }
    .div2 {
      display: flex;
      flex-direction: column;
      width: 90%;

      .proceso {
        width: fit-content;
        font-size: 20px;
      }
    }
  }

  /*---------Footer----------*/
  footer {
    padding: 50px 40px;
    align-items: flex-start;
    gap: 30px;

    .title {
      text-align: left;
      font-size: 22px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    .centerFlex {
      .content {
        align-items: flex-start;
      }
    }
  }
}
